*{
    margin: 0;
    padding 0;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 54%, 90%);
}
.container{
    padding: 10px;
    max-width: 100vh;
    background-color: hsl(0, 0%, 100%);
    overflow: auto;
}
img{
}